{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<style>
    .auth-wrapper {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .auth-card {
        width: 100%;
        max-width: 380px;
        padding: 32px;
        background: #191d25;
        border-radius: 10px;
        box-shadow: 0 20px 40px rgba(0,0,0,.1);
    }

    .auth-card h1 {
        margin-bottom: 24px;
        text-align: center;
    }

    .auth-card label {
        font-weight: 600;
    }

    .auth-card input {
        width: 100%;
        padding: 10px 12px;
        margin-top: 6px;
        margin-bottom: 16px;
        border: 1px solid #ccd2da;
        border-radius: 6px;
    }

    .authbtn {
        width: 100%;
        padding: 12px;
        background: #4f46e5;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-weight: 600;
        cursor: pointer;
    }

    .authbtn:hover {
        background: #4338ca;
    }
</style>

    <div class="auth-wrapper">
        <div class="auth-card">
            <h1>Register</h1>
            {{ form_start(Register) }}
            {{ form_row(Register.username) }}
            {{ form_row(Register.plainPassword) }}
            <button class="authbtn" type="submit">Register</button>
            <span>Already have an Account? <a style="color: white" href="{{ path('app_login') }}">Login</a></span>
            {{ form_end(Register) }}
        </div>
    </div>

{% endblock %}
